/* --------------------------------------------------------------------------- */
/*                                Blackjack Game                               */
/* --------------------------------------------------------------------------- */

.qr-overlay-blackjack {
    display: none;
    background: #fff;
    background-color: transparent;
    padding: 0.5em;
    width: 100%;
    height: 85%;
    position: fixed;
    cursor: default;
    z-index: 10001;
    overflow-wrap: break-word;
}

.blackjack-landing-page {
    background-color: #35654d;
    width: 95%;
    height: 90%;
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
}

.blackjack_start_game_button {

    width: 80%;
    height: 40px;
    border: 2px solid #40A578;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
    color: white;
    background-size: contain;
    background: rgba(0, 103, 105, 0.4) none no-repeat center;
}

.blackjack_start_game_button:active {

    width: 80%;
    height: 40px;
    border: 2px solid #40A578;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
    color: white;
    background-size: contain;
    background: #40A578 none no-repeat center;
}

.top-bottom-decoration {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 3px solid #FFC94A;
    border-bottom: 3px solid #FFC94A;
}

.bj-logo {
    height: 40%;
    width: auto;
}

.initial-display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.game-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.game-state p {
    color: white;
}

.added-card {
    position: relative;
    right: 120px;
}

.player-option-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dealer-option-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
}

.dealer-option-bar div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 90%;
}

.dealer-option-bar div input {
    height: 30px;
    width: 100%;
    margin-right: 10px;
}

.dealer-option-bar div button {
    background-color: #793c47;
    color: #f9bf71;
    border: 1px solid #ff873f;
    padding: 10px 20px;
}

.player-option-button {
    height: 40px;
    padding: 10px;
    border: 2px solid #40A578;
    cursor: pointer;
    font-size: 16px;
    background-color: rgba(0, 103, 105, 0.4);
    color: white;
}

.player-option-button-disabled {
    height: 40px;
    padding: 10px;
    border: dimgrey;
    cursor: pointer;
    font-size: 16px;
    background-color: lightgray;
    color: dimgrey;
}

.dealer-card-container {
    position: relative;
    width: max-content;
}

.player-card-container {
    position: relative;
    width: max-content;
}

.card-container {
    position: relative; /* Ensure cards are positioned relative to this container */
    display: flex;
    align-items: center; /* Center align cards vertically */
    justify-content: center; /* Center align cards horizontally */
    overflow: hidden; /* Ensure no overflow outside the container */
}

.card-img {
    border: 1px solid #FFC94A;
    border-radius: 6px;
    margin-left: calc(-1 * var(--card-overlap)); /* Overlap cards */
    z-index: 1; /* Ensure cards stack on top of each other */
    transition: margin-left 0.2s ease-in-out; /* Smooth transition */
}


/* CONFIRMATION-DIALOG */
.confirmation-dialog {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.confirmation-dialog-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.confirmation-dialog-button {
    width: 40%;
    min-height: 40px;
    color: white;
    background-color: rgba(0, 103, 105, 0.4);
    border: 2px solid #40A578;
}

/* DEALER WAITING LOBBY */
.dealer-waiting-lobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: white;
}

#game-id-display {
    font-size: 64px;
}

.win-screen {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.win-screen img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #FFC94A;
    margin-bottom: 20px;
}

.win-screen p {
    text-align: center;
}



