:root { /* note: Chrome <49 (bundled with SDK23) does not support var() */
    /* --background: #ebf4fa; // never used? */
    --fontCol: #000;
    --strokeCol: #000;
    --passiveCol: #51a4d2;
    --activeCol: #a4cbe2;
    --light: #ebf4fa;
    --neutralCol: #cbd4da;
    --gray: #d0d0d0;
    --red: #e85132;
    --darkRed: #ff3300;
    --lightGreen: #bddb88;
    --lightA: #2ecc71;
    --lightB: #7fd9eb;
    --lightC: #2ecc71;
    --lightD: #f2a641;
    --menuBackground: #fff;
    --menuBorder: #000);
}


[data-theme="dark"] {
    /* https://nightpalette.com/card/-ea9a66-1c8578-474747-111111-9e9d9d
       #ea9a66  lightbrown
       #1c8578  petrol
       #474747  halfgray
       #111111  black
       #9e9d9d  grey
    */
    /* --background: #ebf4fa; never used? */
    --fontCol:    #e0e0e0;
    --strokeCol:  #f0f0f0;
    --passiveCol: #6f6666; /* #c05010;  #51a4d2; */
    --activeCol:  #a8a0a0; /* #a4cbe2; */
    --light:      #ea9a66; /* #ebf4fa; */
    --neutralCol: #3c3737; /* #cbd4da; */
    --gray:       #423f3f; /* #d0d0d0; */
    --red:        #ea9a66; /* #a02000; /* #e85132; */
    --darkRed:    #ea9a66; /* #800000; /* #ff3300; */
    --lightGreen: #bddb88;
    --lightA:     #2ecc71;
    --lightB:     #5fb9cb; /* have/gift */
    --lightC:     #2ecc71;
    --lightD:     #f2a641;
    --menuBackground: #a8a0a0;
    --menuBorder: #fff;
}

  html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: medium;
  }
  table {
    border-spacing: 0px;
  }
  button {
    border-radius: 5px;
  }
  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: medium;
    resize: none;
    width: 100%;
  }

  .coreScroll {
    height: 100%;
    overflow: scroll;
  }

  .active {
    background-color: var(--activeCol);
  }
  .passive {
    background-color: var(--passiveCol);
  }
  .neutral {
    background-color: var(--neutralCol);
  }
  .light {
    background-color: var(--light);
  }
  .green {
    background-color: var(--lightGreen);
  }
  .red {
    background-color: #ea9a66; /* var(--darkRed); */
  }
  .gray {
    background-color: var(--gray);
  }
  .flat {
    border: none;
    font-size: small;
    user-select: none;
    height: 100%;
  }
  .flat:focus {
    outline: none;
  }
  .flat:active {
    color: var(--fontCol); /* #ea9a66; */ /* red; */
  }
  .w100 {
    width: 100%;
  }
  .buttontext {
    height: 45pt;
    padding: 4px 10px 10px 10px;
  }
  .item {
    border: none;
    text-align: left;
    vertical-align: top;
    height: 4em;
    font-size: medium;
  }

.qrButton {
   font-size: xx-large;
   color: var(--fontCol);
   background-color: transparent;
}

.menu-overlay {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  background: var(--menuBackground);
  padding: 0.5em;
  z-index: 10002; /* high z-index */
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0,0,0,0.9);
}

.geo-menu-overlay {
  display: none;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: auto;
  max-width: 90%;
  min-width: 70%;
  background: var(--menuBackground);
  padding: 0.5em;
  z-index: 10002; /* high z-index */
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0,0,0,0.9);
}

.qr-overlay {
  display: none;
  background: var(--menuBackground);
  padding: 0.5em;
  width: calc(80% - 16px);
  position: fixed;
  top: 10%;
  left: 10%;
  cursor: default;
  z-index: 10001;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0,0,0,0.9);
  overflow-wrap: break-word;
}

.overlay-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1000; /* high z-index */
  background: rgba(1,1,1,0.3);
  -webkit-tap-highlight-color: transparent;
}

.overlay-trans {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1000; /* high z-index */
  background: trans;
  -webkit-tap-highlight-color: transparent;
}

.overlay-trans-core {
  display: none;
  position: absolute;
  top: 20;
  left: 0;
  height: 85%;
  width: 100%;
  cursor: pointer;
  z-index: 1000; /* high z-index */
  background: trans;
  -webkit-tap-highlight-color: transparent;
}

.overlay-bg-core {
  display: none;
  position: absolute;
  top: 20;
  left: 0;
  height: 85%;
  width: 100%;
  cursor: pointer;
  z-index: 1000; /* high z-index */
  background: rgba(1,1,1,0.3);
  -webkit-tap-highlight-color: transparent;
}

.float_button {
  position: absolute;
    top: calc(100% - 110pt);
    left: calc(100% - 50pt);
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 999; /* high z-index */
    color: var(--fontCol);
    background: var(--menuBorder);; /* fallback */
    background-color: var(--menuBackground);
    border: solid 1px var(--menuBorder);
    border-radius: 50%;
    font-size: xx-large;
    line-height: 36pt;
    font-family: HelveticaNeue-Light;
  /* box-shadow: 0 0 30px rgba(0,0,0,0.7); */
  box-shadow: 0 0 30px rgba(1,1,1,0.7);
}

.chat_item_button {
  border: none;
  text-align: left;
  vertical-align: top;
  height: 3em;
  font-size: medium;
  border-radius: 4pt;
  box-shadow: 0 0 5px rgba(1,1,1,0.7);
}

.chat_item_div {
  padding: 0px 5px 10px 5px;
  margin: 3px 3px 6px 3px;
}

.contact_picture {
  height: 3em;
  width: 3em;
  border: none;
  border-radius: 50%;
  background: transparent;
  font-size: medium;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.contact_item_button {
  border: none;
  text-align: left;
  vertical-align: top;
  width: calc(100%-10em);
  height: 3em;
  font-size: medium;
  border-radius: 4pt;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  text-overflow: ellipis;
  overflow: hidden;
  display: inline-block;
}

.app_icon {
  height: 3em;
  width: 3em;
  border: none;
  border-radius: 50%;
  background: transparent;
  font-size: medium;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.prod_item_button {
  border: none;
  text-align: left;
  vertical-align: top;
  width: calc(100%-10em);
  font-size: medium;
  border-radius: 4pt;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 8px;
}

.menu_item_button {
  border: none;
  text-align: left;
  vertical-align: top;
  height: 3em;
  width: 100%;
  font-size: medium;
  background-color: var(--menuBackground);
}

.attach-menu-item-button {
  border: none;
  text-align: left;
  vertical-align: top;
  height: 3em;
  width: 100%;
  font-size: medium;
  background-color: var(--menuBackground);
}

.attach-menu {
    border: none;
    text-align: center;
    vertical-align: bottom;
    height: 3em;
    width: 100%;
    font-size: medium;
    background-color: var(--menuBackground);
}

.attach-menu-overlay {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 70px;
  background: var(--menuBackground);
  padding: 0.5em;
  z-index: 1001; /* high z-index */
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0,0,0,0.9);
}

.settings {
  height: 2em;
  padding: 6px;
  background: rgba(255,255,255,0.75);
  display: flex;
  justify-content: space-between;
}

.settingsText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  margin-top: 6px;
  font-weight: 500;
}

.settingsTitle {
  font-size: x-large;
  text-align: center;
  color: var(--fontCol);
}

/* --------------------------------------------------------------------------- */

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--neutralCol); /* Black background color */
  color: var(--fontCol); /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* --------------------------------------------------------------------------- */
/* https://www.w3schools.com/howto/howto_css_switch.asp */

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--activeCol);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--neutralCol);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--passiveCol);
}

input:focus + .slider {
  /* box-shadow: 0 0 1px #2196F3; */
  box-shadow: transparent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.connection_entry_container {
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  /*grid-template-rows: 1fr 1fr 1fr;*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  /*grid-template-areas:
    "name name ."
    ". . remaining"
    "type type .";
    */
  grid-template-areas:
    "info remaining";
  width:100%;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  border-radius: 4pt;
  height: 3em;
  margin-bottom: 10px;
}

.connection_entry_info_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "name"
    "type";
  grid-area: info;
}

.connection-overlay-progressbar {
  width: 100%;
  height: 25px;
  background-color: var(--neutralCol);
  border-radius: 5px;
}

.connection-overlay-progressbar::-webkit-progress-bar {
  border-radius: 5px;
}

.connection-overlay-progressbar::-webkit-progress-value {
  transition: width 1s ease;
  border-radius: 5px;
}

#connection-overlay-progressbar-want::-webkit-progress-value {
  background: var(--lightA);
}

#connection-overlay-progressbar-gift::-webkit-progress-value {
 background: var(--lightB);
}

#connection-overlay-progressbar-goset::-webkit-progress-value {
  background: var(--lightC);
}

#connection-overlay-progressbar-chnk::-webkit-progress-value {
  background: var(--lightD);
}

.connection-overlay-progressbar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: var(--fontCol);
  white-space: nowrap;
}

.progress-icon {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.invalid {
    border: 2px solid var(--red);
}

.valid {
    border: 2px solid var(--green);
    transition: border-color 0.2s ease-in-out;
}

.websocket_url_settings {
  background: rgba(255,255,255,0.75);
  padding:6px;
  display: flex;
  align-items: center;
}

.img-gray-filter {
    filter: invert(62%) sepia(8%) saturate(116%) hue-rotate(145deg) brightness(89%) contrast(89%);
}


/* eof */
