
/* --------------------------------------------------------------------------- */
/*                                Connect 4                             */
/* --------------------------------------------------------------------------- */

#connect4-game-board {
    height: 40vh;
    padding: 10px;
    margin-right: 15px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    background-color: blue;
    border: 2px solid gold;
    border-radius: 10px;
}

.connect4-game_tile {
    background-color: white;
    border-radius: 50%;
    border: 5px solid;
}

#connect4-game-end-button {
    font-size: 1.5em;
    padding: 0.5em;
    width: 5em;
}

#connect4-game-leave-button {
    font-size: 1.5em;
    padding: 0.5em;
    width: 5em;
}

/* eof */


